@charset "UTF-8";
/* CSS Document */
*{ padding: 0; margin: 0; }

html{
	font-size: 16px;
}

.wrapper{
	height: 100vh;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 30% 17.5% 17.5% 17.5% 17.5%;
}

.item{
	background: #f5f5f5;
	border: 2px solid #f5f5f5;
	margin: 0.125rem;
	font-size: 3.75rem;
	display: flex;
	justify-content: center;
	align-items:center;
}

.item:hover{
	background: #e8e8e8;
}

.monitor{
	grid-column: 1/5;
	grid-row: 1/2;
	border: none;
	border-bottom: 0.25rem solid #FCAD3E;
	display: flex;
	justify-content: flex-end;
	align-items:center;
	padding-right: 1rem;
	font-size: 5rem;
	transition: border-bottom 0.3s;
	animation: monitor 1.5s linear 0s 1 normal forwards;
}

@keyframes monitor{
	0% {color: #f5f5f5;}
	99% {color: #f5f5f5;}
	100% {color: #000000;}
}

.monitor:hover{
	background: #f5f5f5;
}

.tip{
	grid-column: 1/5;
	grid-row: 1/2;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items:center;
	animation: tip 1.5s linear 0s 1 normal forwards;

}

@keyframes tip{
	0% {
		font-size: 1.4rem;
		color: #f5f5f5;
	}
	50% {
		font-size: 2.9rem;
	}
	99.99% {
		font-size: 2.9rem;
		color: #868686;
	}
	100% {
		font-size: 0;
	}
}

.clean{
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
	justify-content: center;
	align-items:center;
	color: #d4d4d4;
	font-size: 3.125rem;
	animation: clean 1.5s linear 0s 1 normal;
}

@keyframes clean{
	0% {color: #f5f5f5;}
	99% {color: #f5f5f5;}
	100% {color: #d4d4d4;}
}

.clean:hover{
	color: #f09381;
}

.nine{
	grid-column: 1/2;
	grid-row: 2/3;
}
.eight{
	grid-column: 2/3;
	grid-row: 2/3;
}
.seven{
	grid-column: 3/4;
	grid-row: 2/3;
}
.six{
	grid-column: 1/2;
	grid-row: 3/4;
}
.five{
	grid-column: 2/3;
	grid-row: 3/4;
}
.four{
	grid-column: 3/4;
	grid-row: 3/4;
}
.three{
	grid-column: 1/2;
	grid-row: 4/5;
}
.two{
	grid-column: 2/3;
	grid-row: 4/5;
}
.one{
	grid-column: 3/4;
	grid-row: 4/5;
}
.dot{
	grid-column: 1/2;
	grid-row: 5/6;
}
.zero{
	grid-column: 2/3;
	grid-row: 5/6;
}

.equal{
	grid-column: 3/4;
	grid-row: 5/6;
}

/* equal sign icon */
.equal::before,.equal::after{
	content: " ";
	position: absolute;
	width: 1.5625rem;
}

.equal::before{
	border-bottom: 0.1875rem solid;
	margin-top: 0.625rem;
}

.equal::after{
	border-top: 0.1875rem solid;
}

.add{
	grid-column: 4/5;
	grid-row: 2/3;
}

/* plus sign icon */
.add::before,.add::after{
	content: " ";
	position: absolute
}

.add::before{
	border-bottom: 0.1875rem solid;
	width: 2.1875rem;
}

.add::after{
	border-left: 0.1875rem solid;
	height: 2.1875rem;
}

/* minus sign icon */
.minus{
	grid-column: 4/5;
	grid-row: 3/4;
}

.minus::before{
	content: " ";
	position: absolute;
	border-bottom: 0.1875rem solid;
	width: 2.1875rem;
}

.time{
	grid-column: 4/5;
	grid-row: 4/5;
}

/* multiplication sign icon */
.time::before,.time::after{
	content: " ";
	position: absolute;
	transform: rotate(45deg);
}

.time::before{
	border-bottom: 0.1875rem solid;
	width: 2.1875rem;
}

.time::after{
	border-left: 0.1875rem solid;
	height: 2.1875rem;
}

.divide{
	grid-column: 4/5;
	grid-row: 5/6;
}

/* division symbol */
.divide::before,.divide::after{
	content: " ";
	position: absolute;
}

.divide::before{
	border-left: 0.47rem dotted;
	height: 1.45rem;
}

.divide::after{
	border-bottom: 0.1875rem solid;
	width: 1.5625rem;
}

/* introduction text, only in big screen */
.intro{
	font-family: "Courgette";
	margin-top: 2.5rem;
	color: #fcb857;
	display: none;
}

@media screen and (min-width:320px) and (max-width:370px){
	html{
		font-size: 10px;
	}
}

@media screen and (min-width:370px) and (max-width:430px){
	html{
		font-size: 14px;
	}
}

@media screen and (min-width:500px) and (max-width:580px){
	html{
		font-size: 18px;
	}
}

@media screen and (min-width:580px) and (max-width:800px){
	html{
		font-size: 20px;
	}
}

@media screen and (min-width:800px){
	html{
		font-size: 18px;
	}

	.tip{
		display: none;
	}

	.container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.wrapper{
		width: 26rem;
		height: 35rem;
		margin-top: 3rem;
		border: 2px solid #e8e8e8;
		border-radius: 1%;
	}

	.intro{
		display: flex;
	}
}
